{% extends 'main.html' %}

{% block content %}

<div
    style="
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        padding: 10px;
        margin-top: 70px;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 15px;
        font-family: 'Raleway', sans-serif;
    "
>
    <h2 style="letter-spacing: 2px; font-weight: 300; margin-left: 20px;"> What is SOLO ?</h2>
    <p style="font-size: 20px; font-weight: 100; padding: 5px;">
        SOLO is a dynamic web application, built with HTML, CSS and JavaScript in the front-end & Django (Python in the Backend), The website is made with the objective of providing an online platform for users to post their research, findings or just random blogs. The users can comment on other users research or posts.
    </p>
    <p style="font-size: 20px; font-weight: 200; padding: 5px; margin-top: -20px;">
        SOLO, is created with the sole purpose of practicing django. The user's will first havto create an account or login if already have one. User's once loged in can create a Post, Edit his or her Post, or Delete Post and can also share their views on other user's posts by adding comments as Insights.
    </p>
</div>

{% endblock %}