{% extends 'main.html' %}
{% block content %}
<div
    style="
        position: absolute;
        display: grid;
        grid-template-columns: auto auto ;
        width: 98vw;
        margin: 0 auto;
        margin-top: 25vh;
        margin-left: -31.9vw;
        height: 63vh;
        padding: 5px;
    "
>
    <div
        style="
            display: grid;
            grid-template-columns: auto;
            margin: 0 auto;
            width: 400px;
            padding: 5px;
            height: 515px;
            border-radius: 15px;
            overflow: scroll;
            box-shadow: 5px 10px 18px rgba(21, 0, 59, 0.24);
        "
    > 
        <h3 class="liveNoticeTitle">Live Notices</h3>
        {% for post in posts %}
            <div
                style="
                    margin: 0 auto;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    border-radius: 15px;
                    padding: 10px;
                    height: 12vh;
                    background-color: aliceblue;
                    width: 90%;
                    box-shadow: 5px 10px 18px rgba(21, 0, 59, 0.116);
                "
            >
                <h2><a href="{% url 'post' post.id %}" style="text-decoration: none; color: #000; font-size: 20px;">{{post.title}}</a></h2>
                <small style=" padding: 5px; border-radius: 10px; background-color:rgb(0, 0, 0);color:#fff;cursor: pointer;">{{post.topic.name}}</small>
            </div>
        {% endfor %}
    </div>
    <div
        style="
            margin: 0 auto;
            width: 900px;
            overflow: scroll;
            height: 520px;
            border-radius: 15px;
            box-shadow: 5px 10px 18px rgba(21, 0, 59, 0.24);
        "
    >
        <h3 class="CreateNoticeTitle">Create Notice</h3>
        <style>
            input {
                width: 100%;
                font-size: 15px;
                font-family: 'Raleway', sans-serif;
                border: 0.5px solid rgba(21, 0, 59, 0.116);
            }
            
            textarea {
                margin-top: 10px;
                width: 100%;
                border: 0.5px solid rgba(0, 0, 0, 0.267);
            }
        </style>
        <br>
        
        <div
            style="
                margin: 0 auto;
                width: 80%;
            "
        >
            <form method="POST" enctype="multipart/form-data" action="" style="font-size: 20px; font-family: 'Raleway', sans-serif; margin: 0 auto;">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Send Request" style="background-color: #fff; font-size: 18px; border: none;border-radius: 10px; letter-spacing: 2px; padding: 5px; cursor: pointer;"/>
            </form>
        </div>
    </div>

</div> 

{% endblock %}